<h1>Spatial Data API for Pixxel</h1>
<p>Hi! please choose one of the following</p>
<span style="padding-left: 100px"><a href="/searchcountry">Search for a country</a> </span>
<span style="padding-left: 100px"><a href="/findneighbour">Find neighbours for a country</a></span>
<span style="padding-left: 100px"><a href="/addcountry">Add a country</a></span>
<span style="padding-left: 100px"><a href="/deletecountry">Delete a country</a></span>


