<h1>Find a Country's neighbours</h1>
Enter a country and we will show you all it's neighbours
<form method="post" action="/showneighbour">
    <input type="text" id="country" name="country"/>
    <button type="submit">submit</button>
</form>
<br><br><br><br>
<div style="padding-left: 50%"><a href="/">Home</a></div>