<h1>Delete a country</h1>
Please enter the name of the country you want to delete
<form method="post" action="/erasecountry">
    <input type="text" id="name" name="name"/>
    <button type="submit">submit</button>
</form>
<br><br><br><br>
<div><a href="/">Home</a></div>