<h1>Search for a Country</h1>
Enter a phrase and we will show you all countries that match it (Please keep the first letter capital)
<form method="post" action="/search">
    <input type="text" id="country" name="country"/>
    <button type="submit">submit</button>
</form>
<br><br><br><br>
<div><a href="/">Home</a></div>